<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" >   
        {{form.csrf_token}}
        <div class="form-group">
            {{form.userEmail(class="form-control", placeholder="이메일")}}
        </div>
        <div class="form-group">
            {{form.password(class="form-control", placeholder="비밀번호")}}
        </div>
        <button type="submit">로그인</button>

        {% if form.password.errors %}
        <strong>{{form.password.errors.0}}</strong>
        {%endif%}
</form>
</body>
</html>