<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">

</head>

<body>
        <h1>Register</h1>
        <a href="#" onclick='window.open("login", "", "width=500, height=600", "")'>로그인</a>
            <form method="POST" >   
                {{form.csrf_token}}
                <div class="form-group">
                    {{form.userEmail.label("Email")}}
                    {{form.userEmail(class="form-control", placeholder="Email")}}
                </div>
                <div class="form-group">
                    {{form.userName.label("user name")}}
                    {{form.userName(class="form-control", placeholder="user name")}}
                </div>
                <div class="form-group">
                    {{form.password.label("password")}}
                    {{form.password(class="form-control", placeholder="password")}}
                </div>
                <div class="form-group">
                    {{form.rePassword.label("re - password")}}
                    {{form.rePassword(class="form-control", placeholder="re- password")}}
                </div>
                <button type="submit" class="btn btn-primary">submit</button>
            </form>
            <script src="{{ url_for('static', filename='background.js') }}" > </script>

</body>
</html>