<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link href="{{ url_for('static', filename='css/background.css') }}" rel="stylesheet">

</head>
<body>
    <div class="clock">
        <h1>Time</h1>
    </div>
    <form method="post">

    <button onclick="plus()">+</button>

    <button onclick="minus()">-</button>
    </form>
    <script src="{{ url_for('static', filename='background.js') }}" > </script>
    <script src="{{ url_for('static', filename='clock.js') }}" > </script>
    <script>
    function plus(){
        
    }
    function minus(){

    }
    </script>
</body>
</html>