<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <!-- <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='timeline.css') }}" rel="stylesheet">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


</head>
<body>
    <style>
        body{
            background-color: black;
        }
    </style>
    <div class="js-clock">
        <h1>Time</h1>
    </div>
    <div class="btn">
    <button id = "Pbtn" onclick="plus()">Start PlusTime</button>
    <button id = "Mbtn" onclick="minus()">Start MinusTime</button>
    </div>



    <div class="timeline">
        <form method="post" onsubmit="articleInput()">
        <!-- <input type="checkbox" id="event-1"/>
        <section>
          <label for="event-1">
            <span class="date">July 2018</span>
            Life Event 1
          </label>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea officiis at eaque possimus cumque, earum dolores expedita accusantium unde adipisci facilis voluptate optio sed, animi ex error. Inventore, nobis fuga!</p>
        </section> -->
    </form>
      </div>

    <script>
        var csrf_token = "{{ csrf_token() }}";
        $.ajaxSetup({
        beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
        }
        }
        });
    </script>
    <!-- <script src="{{ url_for('static', filename='background.js') }}" > </script> -->
    <script src="{{ url_for('static', filename='timecheck.js') }}" > </script>
    <script src="{{ url_for('static', filename='clock.js') }}" > </script>


</body>
</html>